@model GameClubUI.Models.Club

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Create a New Club</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
</head>
<body>
    <h1>Create a New Club</h1>

    @if (TempData["Error"] != null)
    {
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <strong>Warning!</strong> @TempData["Error"]
        </div>
    }

    <form method="post">
        <label for="Name">Club Name:</label>
        <input type="text" id="Name" name="Name" value="@Model?.Name" required />
        <br />
        <label for="Description">Description:</label>
        <textarea id="Description" name="Description" required>@Model?.Description</textarea>
        <br />
        <button type="submit" class="button">Create Club</button>
    </form>

    <br />
    <a href="/Home/Index" class="btn btn-secondary">Back to Clubs List</a>

</body>
</html>